@model BDDontomate.PERSONAS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PERSONAS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SEUDONIMO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEUDONIMO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERFILES.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERFILES.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPERSONA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
